.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 25%;
    left: 15%;
    width: 70%;
    padding: 25px 25px;
    border: 1px solid black;
    box-sizing: border-box;
    z-index: 500;
    background-color: white;
}