$ms-dark-text: #24135F;
$ms-light-text: #007DBA;
$ms-medium-blue: #1e5b9a;
$ms-light-blue: #9ecfef;
$ms-red: #D50032;
$ms-orange: #FF8F1C;
$ms-light-orange: #ffc052;
$ms-dark-orange: #c66000;
$ms-yellow: #ffff00;